practica01/ejercicio01/local-files/Backup to GitHub.json
[
  {
    "updatedAt": "2025-11-06T14:20:24.306Z",
    "createdAt": "2025-11-06T14:20:24.306Z",
    "id": "ITDLzT9Voo3KzJUs",
    "name": "Backup to GitHub",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "4f6981ce-aa48-466d-8093-40182fdfd4d2",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "filters": {},
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          208,
          0
        ],
        "id": "b770c1d8-4c09-4520-827b-3dd623593c9a",
        "name": "Get many workflows"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          416,
          0
        ],
        "id": "4f4bdfd7-bb2e-4dab-9bb6-97b46a6babad",
        "name": "Loop Over Items"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "name": "Replace Me",
        "typeVersion": 1,
        "position": [
          704,
          80
        ],
        "id": "06f168ef-ae7c-41e5-99b2-2236f26bf49d"
      },
      {
        "parameters": {
          "operation": "get",
          "workflowId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          912,
          80
        ],
        "id": "93338197-cf47-4ee9-aaed-37165ef8239b",
        "name": "Get a workflow",
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "toJson",
          "binaryPropertyName": "=data",
          "options": {
            "fileName": "={{ $json.name }}"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          1328,
          80
        ],
        "id": "e8d5c0b7-7d41-4230-a35c-f0a0a1bfda4c",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "operation": "write",
          "fileName": "=/files/{{ $binary.data.fileName }}",
          "options": {
            "append": false
          }
        },
        "type": "n8n-nodes-base.readWriteFile",
        "typeVersion": 1,
        "position": [
          1536,
          80
        ],
        "id": "2b6d45f0-8793-4b42-b568-06dc067a590f",
        "name": "Read/Write Files from Disk"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "Get many workflows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get many workflows": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Replace Me",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Replace Me": {
        "main": [
          [
            {
              "node": "Get a workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get a workflow": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Read/Write Files from Disk",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read/Write Files from Disk": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "c024fb2f-641d-43e9-b0c2-3adf68e2f25e",
    "versionCounter": 1,
    "triggerCount": 0,
    "shared": [
      {
        "updatedAt": "2025-11-06T14:20:24.358Z",
        "createdAt": "2025-11-06T14:20:24.358Z",
        "role": "workflow:owner",
        "workflowId": "ITDLzT9Voo3KzJUs",
        "projectId": "DryTUOllph6giRji",
        "project": {
          "updatedAt": "2025-11-05T19:53:43.926Z",
          "createdAt": "2025-11-05T19:52:07.159Z",
          "id": "DryTUOllph6giRji",
          "name": "Anass El Jabiry <aek676@inlumine.ual.es>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "updatedAt": "2025-11-05T19:52:07.162Z",
              "createdAt": "2025-11-05T19:52:07.162Z",
              "userId": "61520a68-4e75-43e2-ab15-7113c85bcaf7",
              "projectId": "DryTUOllph6giRji",
              "user": {
                "updatedAt": "2025-11-06T14:36:04.000Z",
                "createdAt": "2025-11-05T19:52:01.258Z",
                "id": "61520a68-4e75-43e2-ab15-7113c85bcaf7",
                "email": "aek676@inlumine.ual.es",
                "firstName": "Anass",
                "lastName": "El Jabiry",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-11-05T19:54:38.406Z",
                  "personalization_survey_n8n_version": "1.118.2",
                  "automationGoalDevops": [
                    "ci-cd",
                    "monitoring-alerting",
                    "data-syncing"
                  ],
                  "companyType": "education",
                  "role": "engineering"
                },
                "settings": {
                  "userActivated": false
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2025-11-06",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": []
  }
]
