workflows/3vx4gsHsZbP4WX9f.json
{"updatedAt":"2025-11-30T21:03:48.000Z","createdAt":"2025-11-30T20:54:50.897Z","id":"3vx4gsHsZbP4WX9f","name":"4.3 - Main Orquestador","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"91e245cf-bf11-481d-a860-a2cbf680f7f0","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"9111c6ac-73e4-4681-9547-da4a5d5ca0c6","name":"tarea","value":"actividad","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"d7d103b8-f468-4cda-953e-4cf31ccd00c0","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.tarea }}","rightValue":"=actividad","operator":{"type":"string","operation":"equals"},"id":"08e544af-9a27-4a77-8986-5c7e91aa4af6"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4791c51c-30a9-44ba-b8f5-fb3f796c1762","leftValue":"={{ $json.tarea }}","rightValue":"=festivos","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[416,0],"id":"7f45cb49-508f-425a-8cbe-dfe35e473902","name":"Switch"},{"parameters":{"workflowId":{"__rl":true,"value":"ufADCis3Y82n4ENG","mode":"list","cachedResultUrl":"/workflow/ufADCis3Y82n4ENG","cachedResultName":"4.3 - Sub: Obtener Actividad"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[624,-128],"id":"95321dff-7055-41b7-b522-689abda868f4","name":"Call '4.3 - Sub: Obtener Actividad'"},{"parameters":{"workflowId":{"__rl":true,"value":"IgfDlkcLsEveDKQ6","mode":"list","cachedResultUrl":"/workflow/IgfDlkcLsEveDKQ6","cachedResultName":"4.3 - Sub: Obtener Festivos"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,128],"id":"9229377d-acb9-4277-809c-473a03b13adf","name":"Call '4.3 - Sub: Obtener Actividad'1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Call '4.3 - Sub: Obtener Actividad'","type":"main","index":0}],[{"node":"Call '4.3 - Sub: Obtener Actividad'1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0f4548ac-5bc9-46c1-9fd0-6bd44c49665a","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-30T20:54:50.901Z","createdAt":"2025-11-30T20:54:50.901Z","role":"workflow:owner","workflowId":"3vx4gsHsZbP4WX9f","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}