workflows/57lpkVKlPZF5H97v.json
{"updatedAt":"2025-11-07T18:23:35.000Z","createdAt":"2025-11-07T17:44:54.843Z","id":"57lpkVKlPZF5H97v","name":"Practica 2 - Ejemplo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"0ca97543-52aa-433e-b20e-6cab515f2b67","name":"Schedule Trigger"},{"parameters":{"url":"https://v2.jokeapi.dev/joke/Programming?type=single&amount=5","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"3b9c5e07-3189-4753-80d7-18573f4da8f3","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"jokes","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"3c762ab2-5538-4190-bcb5-75f6399586ac","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4fb270-9f3b-403b-a5a4-fd07649dd241","leftValue":"={{ $json.jokes.safe }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"5b6eaea4-a9fa-4f20-b449-d511e4aac6f3","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"5ad056b9-8afe-48a5-a721-b956958d9173","name":"clasificacion","value":"Chiste seguro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-96],"id":"c4785019-9dea-4822-aa1c-29b28cf26101","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"66a574e6-aa6f-40b9-9196-e194f4e9bb18","name":"clasificacion","value":"Chiste NO seguro","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,96],"id":"360613c9-7678-4021-b562-28bc7270ba98","name":"Edit Fields1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"ed493bf4-a551-4063-a26d-274c9086bd23","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T17:44:54.853Z","createdAt":"2025-11-07T17:44:54.853Z","role":"workflow:owner","workflowId":"57lpkVKlPZF5H97v","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}