workflows/67HGlkO7KOesOhUr.json
{"updatedAt":"2025-12-08T12:48:31.000Z","createdAt":"2025-12-08T10:08:14.719Z","id":"67HGlkO7KOesOhUr","name":"Practica 7: Ejercicio 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"82aca8e8-73c1-484f-8ded-c1979d401522","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"1f1a9268-f4ff-4ebe-825a-4b8a560b7c44","name":"tema","value":"{\"tema\": \"Integración de RabbitMQ en n8n\"}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,0],"id":"5a41dfde-5f98-40a5-8e8d-33ec243754ba","name":"Edit Fields"},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"=Genera 3 ideas para un título de un artículo de blog sobre el tema: \"{{ $json.tema }}\". Responde solo con una lista separada por el carácter \"|\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[448,0],"id":"2c18acd3-2750-412a-8c6b-1a5ed52a2193","name":"Message a model","credentials":{"googlePalmApi":{"id":"flH8bGBGbzuD5NGw","name":"Google Gemini (Tasks)"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"=Escribe un párrafo de introducción (3-4 frases) para un artículo de blog con el siguiente título: \"{{ $json.titulo }}\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[1024,0],"id":"94201113-d603-459c-96a1-a0281907d486","name":"Message a model1","credentials":{"googlePalmApi":{"id":"flH8bGBGbzuD5NGw","name":"Google Gemini (Tasks)"}}},{"parameters":{"jsCode":"const resultados = [];\n\nfor (const item of items) {\n  try {\n    const textoRaw = item.json.content.parts[0].text;\n\n    const titulosArray = textoRaw.split('|');\n\n    titulosArray.forEach(titulo => {\n      const tituloLimpio = titulo.trim();\n\n      if (tituloLimpio.length > 0) {\n        resultados.push({\n          json: {\n            titulo: tituloLimpio\n          }\n        });\n      }\n    });\n\n  } catch (error) {\n    console.log(\"Error procesando texto: \" + error.message);\n  }\n}\n\nreturn resultados;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,0],"id":"2f1dc316-8d0c-4034-b1d7-1d4c80f7b1bc","name":"Code in JavaScript"},{"parameters":{"jsCode":"return items.map(item => {\n  const texto = item.json.content.parts[0].text;\n  return {\n    json: {\n      parrafo_generado: texto.trim()\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1376,0],"id":"6f04b8ef-7efa-42b4-b3a6-173027cf2997","name":"Code in JavaScript1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Message a model1","type":"main","index":0}]]},"Message a model1":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"91660d56-4884-4350-bda2-7468020bf980","activeVersionId":null,"versionCounter":8,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-08T10:08:14.733Z","createdAt":"2025-12-08T10:08:14.733Z","role":"workflow:owner","workflowId":"67HGlkO7KOesOhUr","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}