workflows/9lsEOqYfBbro7iAg.json
{"updatedAt":"2025-12-07T14:47:16.000Z","createdAt":"2025-12-07T11:50:18.713Z","id":"9lsEOqYfBbro7iAg","name":"Practica 6: Productor de Tareas","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"46ee0806-4f8e-4e6c-9e37-ebe0dbf25483","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"PUT","url":"=http://task-manager-web:5000/tasks/{{ $json.taskId}}/complete","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[416,0],"id":"bca42d94-a9ca-46e1-a4b5-f5d19b2ecfda","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"d6103153-f9bb-4cf7-ba1e-13a977abfdb3","name":"taskId","value":"2","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"fb87c44a-807d-45e3-b867-1997618b5c86","name":"taskId"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"taskId","type":"main","index":0}]]},"taskId":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ff5f039e-753e-45b6-94b0-3c083dd2d1a8","activeVersionId":null,"versionCounter":18,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2025-12-07T11:50:18.724Z","createdAt":"2025-12-07T11:50:18.724Z","role":"workflow:owner","workflowId":"9lsEOqYfBbro7iAg","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}