workflows/9PncDjJt401MDSo2.json
{"updatedAt":"2025-11-07T18:44:42.000Z","createdAt":"2025-11-07T18:31:49.158Z","id":"9PncDjJt401MDSo2","name":"Practica 2 - Ejercicio 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"f6d8cfce-12b7-4a82-a254-650756c3e7de","name":"Schedule Trigger"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"e510c45c-8396-4dfb-a66f-a19ed66c54c7","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"aaa753d6-71e2-448b-9a31-1982dcb29e73","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4fb270-9f3b-403b-a5a4-fd07649dd241","leftValue":"={{ $json.price }}","rightValue":100,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"84e52c30-9610-45fa-ad9d-8a62c63c70d8","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"5ad056b9-8afe-48a5-a721-b956958d9173","name":"etiqueta ","value":"Producto Premium","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-96],"id":"b19b128a-47d9-4fd3-a617-60339a2de4cd","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"66a574e6-aa6f-40b9-9196-e194f4e9bb18","name":"etiqueta ","value":"Producto Estándar","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,96],"id":"97287490-104f-4fa2-a650-efdfd298f853","name":"Edit Fields1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"6253fd9f-8584-4a7b-a5f0-b50df8f44d28","activeVersionId":null,"versionCounter":7,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T18:31:49.166Z","createdAt":"2025-11-07T18:31:49.166Z","role":"workflow:owner","workflowId":"9PncDjJt401MDSo2","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}