workflows/d3KgpohvT0g2yty7.json
{"updatedAt":"2025-11-07T20:12:48.000Z","createdAt":"2025-11-07T18:44:51.947Z","id":"d3KgpohvT0g2yty7","name":"Practica 2 - Ejercicio 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://date.nager.at/api/v3/PublicHolidays/2025/ES","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"772297b3-b238-4fe3-9e4c-f0a98d31cb48","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"name","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"7feac768-eafa-4d72-8d8c-02aff3903f9a","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4fb270-9f3b-403b-a5a4-fd07649dd241","leftValue":"={{ $json.global }}","rightValue":100,"operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"7adc230f-8227-4787-a5d1-f2c241f7baab","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"66a574e6-aa6f-40b9-9196-e194f4e9bb18","name":"=Festivos no nacionales","value":"={{ $json.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,96],"id":"5d4864b6-400f-42b5-81a2-4a1c1b21de80","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[16,0],"id":"93f8f7fa-499b-44af-a5ba-f55184a0b14e","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://bored-api.appbrewery.com/random","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[800,-176],"id":"405157af-3cdd-4f14-92d8-fb2c7a6336df","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"66a574e6-aa6f-40b9-9196-e194f4e9bb18","name":"=nombre","value":"={{ $json.name }}","type":"string"},{"id":"40bfb8fb-30e7-49f5-96f4-0a74af87ed41","name":"=actividad","value":"={{ $json.activity }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1200,-48],"id":"a82f8490-f988-42b0-8626-d6868d171456","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[944,-32],"id":"0185234e-d30c-43bd-8551-51f333eebc81","name":"Merge"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"HTTP Request1","type":"main","index":0},{"node":"Merge","type":"main","index":1}],[{"node":"Edit Fields1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"096e26ec-3ac4-4131-a3b7-3ecb8d9dc47e","activeVersionId":null,"versionCounter":8,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T18:44:51.954Z","createdAt":"2025-11-07T18:44:51.954Z","role":"workflow:owner","workflowId":"d3KgpohvT0g2yty7","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}