workflows/ehw8depcEWdj5Q9y.json
{"updatedAt":"2025-11-07T17:44:16.000Z","createdAt":"2025-11-07T17:18:35.406Z","id":"ehw8depcEWdj5Q9y","name":"Practica 1 - Ejercicio 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"ed1b0767-8e0b-4190-9fac-efdc2ef515b9","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://v2.jokeapi.dev/joke/Programming?type=single","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"b5a3f509-ece7-4ef1-8db4-9a6704467017","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"87db15e2-c927-4f19-8509-766c43d65785","name":"=broma","value":"={{ $json.joke }}","type":"string"},{"id":"87254a20-6ebc-447f-870d-b0d060c86f2e","name":"=categoria","value":"={{ $json.category }}","type":"string"},{"id":"9c517bbb-77e2-45b5-83dd-bb345b052799","name":"=identificador","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,0],"id":"7e35f054-67b8-4a19-a2c4-602fb104cde2","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1f063c91-26d5-4be2-943a-f091b05d06c2","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T17:18:35.412Z","createdAt":"2025-11-07T17:18:35.412Z","role":"workflow:owner","workflowId":"ehw8depcEWdj5Q9y","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}