workflows/ItCQaYMfVrW44ZBI.json
{"updatedAt":"2025-12-07T22:59:11.000Z","createdAt":"2025-12-07T22:27:58.445Z","id":"ItCQaYMfVrW44ZBI","name":"Practica 7: Ejercicio 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,-208],"id":"b57cf118-60e0-4654-b26a-b0d6573b789c","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM task WHERE description IS NOT NULL AND description != '' LIMIT 5;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[224,-208],"id":"9ceba4fd-947f-49b1-aaa5-9d09be98d89b","name":"Execute a SQL query","credentials":{"postgres":{"id":"E4RlfIVTYq9OOOV8","name":"PostgreSQL (Tasks)"}}},{"parameters":{"modelId":{"__rl":true,"value":"models/gemini-2.0-flash-lite","mode":"list","cachedResultName":"models/gemini-2.0-flash-lite"},"messages":{"values":[{"content":"=Genera un resumen conciso de una sola frase (máximo 15 palabras) para la siguiente tarea: \"{{ $json.description }}\""}]},"jsonOutput":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[448,-208],"id":"ed07087e-e3e6-4208-ac6d-0df2b33a8b2b","name":"Message a model","credentials":{"googlePalmApi":{"id":"flH8bGBGbzuD5NGw","name":"Google Gemini (Tasks)"}}},{"parameters":{"assignments":{"assignments":[{"id":"0c200b88-b369-4ec8-a19b-c94499442a13","name":"resumen","value":"={{ JSON.parse($json.content.parts[0].text)[0] }}","type":"string"},{"id":"b9c91af3-ff9b-4be2-a58d-bab4d1b9d5b2","name":"","value":"","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[800,-208],"id":"3db1b63b-0676-4e44-a582-71c3e45959ce","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]},"Execute a SQL query":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0117243a-c78e-4271-ad72-f37637e247ae","activeVersionId":null,"versionCounter":9,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-07T22:27:58.456Z","createdAt":"2025-12-07T22:27:58.456Z","role":"workflow:owner","workflowId":"ItCQaYMfVrW44ZBI","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}