workflows/jpimOYhfRmI1pTkC.json
{"updatedAt":"2025-11-07T18:31:41.000Z","createdAt":"2025-11-07T18:23:45.630Z","id":"jpimOYhfRmI1pTkC","name":"Practica 2 - Ejercicio 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":1}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"1ceabca0-bcae-4ef4-8eb8-ac0901349683","name":"Schedule Trigger"},{"parameters":{"url":"https://v2.jokeapi.dev/joke/Programming,Misc?type=single&amount=5","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"4b2bca77-61a7-4ba2-85bf-b4cdc218e2eb","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"jokes","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"637a0efe-c09a-4774-b5d8-a730dc40fca0","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d4fb270-9f3b-403b-a5a4-fd07649dd241","leftValue":"={{ $json.jokes.category }}","rightValue":"Programming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[624,0],"id":"0e8451c9-fd03-4749-82b7-84884001da8d","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"5ad056b9-8afe-48a5-a721-b956958d9173","name":"categoria","value":"Programacion","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,-96],"id":"f1658a4b-ef58-4ec2-b051-aaf8c44f1df6","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"66a574e6-aa6f-40b9-9196-e194f4e9bb18","name":"categoria","value":"Misceláneo","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[832,96],"id":"a528c542-ec85-448c-8f01-15d4bdf31c62","name":"Edit Fields1"}],"connections":{"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"b1073981-fce6-4d65-be67-d6715fc94e16","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T18:23:45.641Z","createdAt":"2025-11-07T18:23:45.641Z","role":"workflow:owner","workflowId":"jpimOYhfRmI1pTkC","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}