workflows/Kg3pvNogDQ4z887E.json
{"updatedAt":"2025-11-07T21:01:50.000Z","createdAt":"2025-11-07T20:23:37.774Z","id":"Kg3pvNogDQ4z887E","name":"Practica 3 - Ejemplo","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"2b802968-5487-465a-b7e4-77e8dfeaad80","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://v2.jokeapi.dev/joke/Programming,Misc,Dark?type=single&amount=10","options":{"response":{"response":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"bc8985b7-2dfa-4d11-9543-e0ed4a3279ad","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"jokes","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"14e2752f-7aab-4aaf-8667-e74b2dbb064c","name":"Split Out"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.category }}","rightValue":"Programming","operator":{"type":"string","operation":"equals"},"id":"d79e69b0-2021-4552-b069-7a1bcd35b0fa"}],"combinator":"and"},"renameOutput":true,"outputKey":"Programming"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"73b9d479-6c9f-40d8-8a1a-37c58487b33f","leftValue":"={{ $json.category }}","rightValue":"Misc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Misc"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2a3dffd-59ce-48a2-92b2-f471b92805ec","leftValue":"={{ $json.category }}","rightValue":"Dark","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Dark"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[624,-16],"id":"d9e6469b-8a0d-45d7-989c-b13405662ff4","name":"Switch"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg","mode":"list","cachedResultName":"Clasificación de Chistes n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $json.category }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Chiste ":"={{ $json.joke }}","Fecha de Procesamiento":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chiste ","displayName":"Chiste ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de Procesamiento","displayName":"Fecha de Procesamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,-128],"id":"4160b279-33fb-4755-bd8f-68aac266859c","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg","mode":"list","cachedResultName":"Clasificación de Chistes n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $json.category }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Chiste ":"={{ $json.joke }}","Fecha de Procesamiento":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chiste ","displayName":"Chiste ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de Procesamiento","displayName":"Fecha de Procesamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,0],"id":"b1bfab41-ad13-4c95-b226-7c0bec972314","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg","mode":"list","cachedResultName":"Clasificación de Chistes n8n","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1vedoe_lG1FxF5YlDdtOw7J8xETcSiMIVmwM8qlFsUjg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $json.category }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Chiste ":"={{ $json.joke }}","Fecha de Procesamiento":"={{ $now }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Chiste ","displayName":"Chiste ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Fecha de Procesamiento","displayName":"Fecha de Procesamiento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[928,144],"id":"05ade40d-f0f9-495e-91d1-a5f63a6d6ecf","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1232,-16],"id":"0bb86e14-21bd-405e-9988-6e54b8370c6c","name":"Merge"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}],[{"node":"Append row in sheet2","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Append row in sheet2":{"main":[[{"node":"Merge","type":"main","index":2}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"da25b7b5-5e53-4538-bcdb-36846cdb6d86","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T20:23:37.780Z","createdAt":"2025-11-07T20:23:37.780Z","role":"workflow:owner","workflowId":"Kg3pvNogDQ4z887E","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}