workflows/Ph7rWTcOFLES84kd.json
{"updatedAt":"2025-11-30T22:13:26.000Z","createdAt":"2025-11-27T18:42:08.968Z","id":"Ph7rWTcOFLES84kd","name":"Practica 4 - Ejemplo","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[-64,0],"id":"41c55b4b-0a51-45f6-bb9d-7647e508f728","name":"Error Trigger"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1d1MblCB7zmj7xMxB_ga00r4aw-sn0om4AIYxhf4XNZY","mode":"list","cachedResultName":"Manejo de errores","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d1MblCB7zmj7xMxB_ga00r4aw-sn0om4AIYxhf4XNZY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Hoja 1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1d1MblCB7zmj7xMxB_ga00r4aw-sn0om4AIYxhf4XNZY/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now }}","Workflow Fallido":"={{ $json.workflow.name }}","Nodo Fallido":"={{ $json.execution.lastNodeExecuted }}","Mensaje de Error":"={{ $json.execution.error.message }}","URL de Ejecución":"={{ $json.execution.url }}"},"matchingColumns":[],"schema":[{"id":"Timestamp","displayName":"Timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Workflow Fallido","displayName":"Workflow Fallido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nodo Fallido","displayName":"Nodo Fallido","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Mensaje de Error","displayName":"Mensaje de Error","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"URL de Ejecución","displayName":"URL de Ejecución","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[288,0],"id":"db3b662d-bde9-461b-be04-bc64222455df","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"sendTo":"bezzaza4@gmail.com","subject":"=Alerta de Error en n8n!: {{ $json.workflow.name }}","message":"=Hola,\n\nEl flujo \"{{ $json.workflow.name }}\" ha fallado.\n\nDetalles:\n- Nodo: {{ $json.execution.lastNodeExecuted }}\n- Error: {{ $json.execution.error.message }}\n- Link: {{ $json.execution.url }}\n\nFecha: {{ $now }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[288,176],"id":"71ca2146-f8b6-4ba7-b6e5-0633c4ea31c4","name":"Send a message","webhookId":"44591758-44e5-44db-99b5-25a2db060348","credentials":{"gmailOAuth2":{"id":"Luea9xUMZQV8ZCCo","name":"Gmail account"}}}],"connections":{"Error Trigger":{"main":[[{"node":"Append row in sheet","type":"main","index":0},{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c81da46-d95a-47ca-9465-6107d6f48d28","activeVersionId":"8c81da46-d95a-47ca-9465-6107d6f48d28","versionCounter":7,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-27T18:42:08.976Z","createdAt":"2025-11-27T18:42:08.976Z","role":"workflow:owner","workflowId":"Ph7rWTcOFLES84kd","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}