workflows/RPqTXhZQvkP6c5bG.json
{"updatedAt":"2025-12-07T14:16:24.000Z","createdAt":"2025-12-07T14:10:18.383Z","id":"RPqTXhZQvkP6c5bG","name":"Practica 6: Ejercicio 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"b057106d-6295-4e7b-90c4-29396421118b","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"task","mode":"list","cachedResultName":"task"},"deleteCommand":"delete","where":{"values":[{"column":"id","value":"={{ $json.taskId }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[416,0],"id":"6a22e456-b18a-4b42-9aa0-6c9359e633a5","name":"Delete taskId","credentials":{"postgres":{"id":"E4RlfIVTYq9OOOV8","name":"PostgreSQL (Tasks)"}}},{"parameters":{"assignments":{"assignments":[{"id":"72827f33-6357-432f-8d6a-f47d9818643a","name":"taskId","value":"0","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"ff93d2ec-73e7-4c98-b41f-c3b9232adc27","name":"taskId"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"taskId","type":"main","index":0}]]},"taskId":{"main":[[{"node":"Delete taskId","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f29c6d38-252c-4607-a3b1-1fd8e41ad565","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-12-07T14:10:18.391Z","createdAt":"2025-12-07T14:10:18.391Z","role":"workflow:owner","workflowId":"RPqTXhZQvkP6c5bG","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}