workflows/wxhqYHe054XA7PuC.json
{"updatedAt":"2025-11-07T21:52:17.000Z","createdAt":"2025-11-07T21:25:55.643Z","id":"wxhqYHe054XA7PuC","name":"Practica 3 - Ejercicio 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"28955edd-3568-4cd1-ac43-4b1aa66b0f52","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"https://fakestoreapi.com/products","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,0],"id":"db379614-471a-428a-b2c7-894f6e1b922a","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[416,0],"id":"50f35b6e-8908-49c3-9b5b-86eaef532d8b","name":"Split Out"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.rating.rate }}","rightValue":4.5,"operator":{"type":"number","operation":"gte"},"id":"3f937e73-c49f-4ef1-827b-c81596e440b2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Top"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4b9ab7f7-3e78-4d5f-98b3-ff80becb4c36","leftValue":"={{ $json.rating.rate }}","rightValue":3.5,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Regular"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"163a2b62-8e2d-4b32-87e6-e03e1660963e","leftValue":"={{ $json.rating.rate }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Bueno"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[624,-16],"id":"fac31d51-2aa5-4a2c-a3b5-bdbcd669ff67","name":"Switch"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg","mode":"list","cachedResultName":"Análisis de Valoraciones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1992251759,"mode":"list","cachedResultName":"Bueno ","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit#gid=1992251759"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Título":"={{ $json.title }}","Precio ":"={{ $json.price }}","Valoración":"={{ $json.rating.rate}}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio ","displayName":"Precio ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valoración","displayName":"Valoración","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,0],"id":"7d0f60c9-1e04-4631-8788-7e57f53cc76d","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg","mode":"list","cachedResultName":"Análisis de Valoraciones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Top","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Título":"={{ $json.title }}","ID":"={{ $json.id }}","Valoración":"={{ $json.rating.rate }}","Precio ":"={{ $json.price }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio ","displayName":"Precio ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valoración","displayName":"Valoración","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,-160],"id":"d462492a-dfad-4edc-ac61-e50092051dec","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg","mode":"list","cachedResultName":"Análisis de Valoraciones","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1893210917,"mode":"list","cachedResultName":"Regular","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Tngc7fgThadP4SxmedRoHbsbCZgxPXmsMEfAsm_JMbg/edit#gid=1893210917"},"columns":{"mappingMode":"defineBelow","value":{"ID":"={{ $json.id }}","Valoración":"={{ $json.rating.rate }}","Precio ":"={{ $json.price }}","Título":"={{ $json.title }}"},"matchingColumns":[],"schema":[{"id":"ID","displayName":"ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Título","displayName":"Título","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Precio ","displayName":"Precio ","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valoración","displayName":"Valoración","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[880,144],"id":"69b4cfe1-27de-4f59-989b-3224f6dad770","name":"Append row in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"CVHbmdnvnEfHk06r","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Append row in sheet","type":"main","index":0}],[{"node":"Append row in sheet1","type":"main","index":0}],[{"node":"Append row in sheet3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7549117a-9b36-4916-ab28-5227b2bbbd4c","activeVersionId":null,"versionCounter":2,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-07T21:25:55.651Z","createdAt":"2025-11-07T21:25:55.651Z","role":"workflow:owner","workflowId":"wxhqYHe054XA7PuC","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}