workflows/zcStXd3s7Nyyuusa.json
{"updatedAt":"2025-11-30T22:28:23.000Z","createdAt":"2025-11-30T19:39:45.366Z","id":"zcStXd3s7Nyyuusa","name":"Ejercicio 4.2 - Main","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"e01d4e94-dcc2-4725-8fc1-92316f7117d3","name":"When clicking 'Execute Workflow'","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-336,16]},{"parameters":{"url":"https://fakestoreapi.com/products/1","options":{}},"id":"165f374a-ebb3-465c-864d-7e7150867e12","name":"Obtener Producto","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[-112,16]},{"parameters":{"workflowId":"ZY0gvOLS9fu7tvrT","options":{}},"id":"56fe51dd-b397-4cf3-aa4b-14d5153c9028","name":"Execute Workflow","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[336,16]},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"id\": {{ $json.id }},\n  \"title\": \"{{ $json.title }}\",\n  \"description\": \"{{ $json.description }}\",\n  \"category\": \"{{ $json.category }}\",\n  \"image\": \"{{ $json.image }}\",\n  \"rating\": {{ $json.rating }}\n}","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,16],"id":"e76c6fe4-f981-45c7-b5eb-55fe2141bd91","name":"Eliminar Precio (Simular Error)1"}],"connections":{"When clicking 'Execute Workflow'":{"main":[[{"node":"Obtener Producto","type":"main","index":0}]]},"Obtener Producto":{"main":[[{"node":"Eliminar Precio (Simular Error)1","type":"main","index":0}]]},"Eliminar Precio (Simular Error)1":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"fb44d8f4-dbfb-4b53-a08e-c404f64dc703","activeVersionId":null,"versionCounter":6,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-30T19:39:45.372Z","createdAt":"2025-11-30T19:39:45.372Z","role":"workflow:owner","workflowId":"zcStXd3s7Nyyuusa","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}