workflows/ZY0gvOLS9fu7tvrT.json
{"updatedAt":"2025-11-30T19:39:37.000Z","createdAt":"2025-11-30T19:34:31.062Z","id":"ZY0gvOLS9fu7tvrT","name":"Sub-flujo: Validador de Productos","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"b707a4c6-708a-497c-add8-1bdea555c87d","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[496,-176]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.title }}","operation":"isNotEmpty"}],"number":[{"value1":"={{ $json.price }}","operation":"isNotEmpty"}]}},"id":"df306c29-1fb7-44c4-a484-6bab454a27af","name":"Validar Campos","type":"n8n-nodes-base.if","typeVersion":1,"position":[720,-176]},{"parameters":{"errorMessage":"Validación fallida: Faltan campos de producto obligatorios"},"id":"7a75b9c4-a038-4ef1-a158-a89d10e07302","name":"Stop and Error","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[960,-32]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validar Campos","type":"main","index":0}]]},"Validar Campos":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"daeedc5d-074b-4e96-841c-2404edbcf91e","activeVersionId":"daeedc5d-074b-4e96-841c-2404edbcf91e","versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-30T19:34:31.069Z","createdAt":"2025-11-30T19:34:31.069Z","role":"workflow:owner","workflowId":"ZY0gvOLS9fu7tvrT","projectId":"jEpZT8mLa3eTbWzT","project":{"updatedAt":"2025-11-07T16:30:44.943Z","createdAt":"2025-11-07T16:25:40.556Z","id":"jEpZT8mLa3eTbWzT","name":"Anass El Jabiry <aek676@inlumine.ual.es>","type":"personal","icon":null,"description":null,"creatorId":"685a70bc-7fcf-484c-be50-a33cd8a1716e"}}]}